@import 'reset';

html{
	
	font-size: 24px;
}

body{

	padding: 1rem;

	>header{

		margin: 0 0 2rem 0;

		h1{

			margin: 0 0 0.5rem 0;
			font-size: 2rem;
		}
	}


	main{

		.project{

			
			header:hover{

				color: red;
				cursor: pointer;
			}

			h2{

				font-size: 1.5rem;
			}

			.content{

				display: none;
			}
		}

		.project.on{

			.content{

				display: block;

			}
		}
	}
}

